@using RhythmsOfGiving.Controller.Leiloes
@using RhythmsOfGiving.Controller.UI
@inject UiService UiService

<div class="space-y-4">
    <div class="grid grid-cols-3 border h-[30rem] rounded-2xl shadow-sm overflow-hidden bg-white">
        @* Informações *@
        <div class="xl:col-span-2 col-span-3 h-full grid grid-cols-1 gap-4 content-between p-8">
            <div class="space-y-4">
                @* Nome Artista *@
                <div class="flex space-x-2 items-center select-none">
                    <img class="object-cover w-8 h-8 rounded-full" src=@Leilao.GetAuthorImagePath()/>
                    <p class="font-[600]">@Leilao.GetArtista()</p>
                </div>
                @* Titulo Leilao *@
                <p class="font-[600] text-2xl">
                    @Leilao.GetTitle()
                </p>
                @* Detalhes *@
                <div class="flex text-gray-400 select-none">
                    <p class="w-fit m-auto ml-0">Género - <text class="font-medium">@Leilao.GetGenero()</text></p>
                    <p class="w-fit m-auto">Tipo - <text class="font-medium">@Leilao.GetTipo()</text></p>
                    <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">@Leilao.GetFim().ToString("dd/MM/yyyy hh:mm")</text></p>
                </div>
            </div>
            @* Descrição *@
            <p class="text-justify">
                @Leilao.GetDescricao()
            </p>
            @if (Licitacao.GetValor() != Leilao.GetValorFinal())
            {
                <div class="flex place-content-between">
                    <p class="font-medium text-lg text-gray-400">
                        A sua última licitação:
                    </p>
                    <p class="font-medium text-xl text-gray-400">
                        @Licitacao.GetValor().ToString("0.00€")
                    </p>
                </div>
            }
            <div class="flex place-content-between">
                @if (Licitacao.GetValor() == Leilao.GetValorFinal())
                {
                    <p class="font-medium text-xl">
                        Venceu por:
                    </p>
                }
                else
                {
                    <p class="font-medium text-xl">
                        Leiloado por:
                    </p>
                }
                <p class="font-bold text-2xl text-rhythms">
                    @Leilao.GetValorFinal().ToString("0.00€")
                </p>
            </div>
            <div class="flex place-content-between">
                <p class="font-medium text-xl">
                    Instituição benefeciária:
                </p>
                <p class="font-bold text-2xl text-rhythms">
                    @UiService.GetNomeInstituicao(Leilao.GetInstituicao())
                </p>
            </div>
            <button  @onclick="VerMaisLicitacoesToggle" class="bg-rhythms/10 text-rhythms font-medium hover:bg-rhythms hover:text-white transition-colors p-2 rounded-lg">
                <i class="bi bi-search"></i> Ver mais licitações
            </button>
        </div>
        @* Imagem *@
        <div class="min-w-[25rem] h-[30rem] bg-gray-300 hidden xl:block">
            <img class="object-cover h-full w-full" src=@Leilao.GetImagePath()/>
        </div>
    </div>
    @if (VerMaisLicitacoes)
    {
        <div class="bg-white border p-4 rounded-2xl shadow-sm space-y-2">
            @foreach (Licitacao l in VerMais(Leilao.GetId()))
            {
                <div class="flex place-content-between text-xl items-center border-b pb-2">
                    <span class="text-rhythms font-medium">
                        @l.GetValor().ToString("0.00€")
                    </span>
                    <span class="text-sm text-gray-400 font-medium">
                        @l.GetDataHora().ToString("dd/MM/yyyy hh:mm")
                    </span>
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public Licitacao Licitacao { get; set; }
    [Parameter]
    public LeilaoUi Leilao { get; set; }
    [Parameter]
    public int IdLicitador { get; set; }
    
    private bool VerMaisLicitacoes { get; set; }
    
    private void VerMaisLicitacoesToggle()
    {
        VerMaisLicitacoes = !VerMaisLicitacoes;
    }
    
    private SortedSet<Licitacao> VerMais(int idLeilao)
    {
        return UiService.GetLicitacoesLicitadorLeilao(IdLicitador, idLeilao);
    }
}
