@page "/leiloes/{IdLeilao}"
@using RhythmsOfGiving.Controller
@inject UIService UIService

<div class="space-y-6 pb-10">
    @* Capa *@
    <img class="object-cover w-full h-96" src="@GetImagePath()" />
    @* Nome Artista *@
    <div class="flex space-x-2 items-center select-none">
        <img class="object-cover w-10 h-10 rounded-full" src="@GetAuthorImagePath()">
        <p class="font-[600] text-xl">@GetArtista()</p>
    </div>
    @* Título *@
    <p class="font-[700] text-4xl">@GetTitle()</p>
    @* Informações *@
    <div class="flex text-gray-400 select-none">
        <p class="w-fit m-auto ml-0">Localização - <text class="font-medium">@GetLocalizacao()</text></p>
        <p class="w-fit m-auto ml-0">Género - <text class="font-medium">@GetGenero()</text></p>
        <p class="w-fit m-auto">Tipo - <text class="font-medium">@GetTipo()</text></p>
        <p class="w-fit m-auto mr-0">Fim - <text class="font-medium">@GetFim()</text></p>
    </div>
    <div class="flex space-x-8">
        @* Descrição *@
        <text class="text-justify">
            @GetDescricao()
        </text>
        @* Área de Interação *@
        <div class="min-w-[25rem] h-fit rounded-xl border p-6 space-y-4">
            @* Título *@
            <h1 class="font-[600] text-3xl pb-4 border-b">Leilão</h1>
            @* Licitações *@
            <div class="space-y-2 text-xl">                
                <p class="flex text-gray-400 font-medium items-center">
                    <text class="w-fit ml-0 m-auto">Valor base: </text>
                    <text class="w-fit mr-0 m-auto text-2xl font-medium">@GetValorBase().ToString("0.00€")</text>
                </p>
                @if (!@ExisteLicitacoes()) {
                    <p class="text-rhythms font-medium">
                        Faça a primeira licitação!
                    </p>
                }
                else {
                    @if (@IsAsCegas()) {
                        <p class="flex font-medium items-center">
                        <text class="w-fit ml-0 m-auto">A sua licitação: </text>
                        <text class="w-fit mr-0 m-auto text-3xl font-bold text-rhythms">@OwnLicitacao.ToString("0.00€")</text>
                        </p>
                    }
                    else if (OwnLicitacao < @LastLicitacao) {
                        <p class="flex text-gray-400 font-medium items-center">
                        <text class="w-fit ml-0 m-auto">A sua licitação: </text>
                        <text class="w-fit mr-0 m-auto text-2xl font-medium">@OwnLicitacao.ToString("0.00€")</text>
                        </p>
                        <p class="flex font-medium items-center">
                            <text class="w-fit ml-0 m-auto">Última licitação: </text>
                            <text class="w-fit mr-0 m-auto text-3xl font-bold text-rhythms">@LastLicitacao.ToString("0.00€")</text>
                        </p>
                    }
                    else {                    
                        <p class="flex text-gray-400 font-medium items-center">
                            <text class="w-fit ml-0 m-auto">Última licitação: </text>
                            <text class="w-fit mr-0 m-auto text-2xl font-medium">@LastLicitacao.ToString("0.00€")</text>
                        </p>
                        <p class="flex font-medium items-center">
                        <text class="w-fit ml-0 m-auto">A sua licitação: </text>
                        <text class="w-fit mr-0 m-auto text-3xl font-bold text-rhythms">@OwnLicitacao.ToString("0.00€")</text>
                        </p>
                    }      
                }                  
            </div>
            @* Licitar *@
            <EditForm Model="@Valor" class="flex w-full space-x-2">
                <button type="submit" @onclick="@Licitar" class="ml-0 m-auto min-w-44 hover:bg-rhythms hover:text-white bg-rhythms/10 text-rhythms py-1.5 font-medium rounded-lg transition-all">
                    Licitar
                </button>
                <div class="relative rounded-lg shadow-sm mr-0 m-auto w-fit">
                    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
                        <span class="text-gray-500 sm:text-sm">€</span>
                    </div>
                    <InputNumber @bind-Value="Valor" class="block w-full rounded-lg border-0 py-1.5 pl-7 pr-12 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="0.00" aria-describedby="price-currency" />
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                        <span class="text-gray-500 sm:text-sm" id="price-currency">EUR</span>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? IdLeilao { get; set; }

    private float Valor { get; set; }

    private LeilaoUI GetLeilao()
    {
        return UIService.GetLeilaoById(Int32.Parse(IdLeilao));
    }
    
    // licitações

    private float OwnLicitacao;
    private float LastLicitacao;

    protected override void OnInitialized()
    {
        GetOwnLicitacao();
        GetLastLicitacao();
        StateHasChanged();
    }

    private void GetOwnLicitacao() {
        // TODO: chamar método da UIService que vá à base de dados obter informação
        OwnLicitacao = 7000.00f;
    }
    private void GetLastLicitacao() {
        // TODO: chamar método da UIService que vá à base de dados obter informação
        LastLicitacao = 8543.92f;
    }
    
    // TODO
    private void Licitar() {
        ;
    }
    
    // info
    
    private string GetArtista() {
        return GetLeilao().GetArtista();
    }
    private string GetTitle() {
        return GetLeilao().GetTitle();
    }
    private string GetLocalizacao() {
        return GetLeilao().GetLocalizacao();
    }
    private string GetGenero() {
        return GetLeilao().GetGenero();
    }
    private string GetTipo() {
        return GetLeilao().GetTipo();
    }
    private string GetFim() {
        return GetLeilao().GetFim().ToShortDateString();
    }
    private string GetDescricao() {
        return GetLeilao().GetDescricao();
    }
    private float GetValorBase() {
        return GetLeilao().GetValorBase();
    }
    private string GetImagePath() {
        return GetLeilao().GetImagePath();
    }
    private string GetAuthorImagePath() {
        return GetLeilao().GetAuthorImagePath();
    }
    private bool IsAsCegas() {
        return GetLeilao().IsAsCegas();
    }

    private bool ExisteLicitacoes()
    {
        return true;
    }
}
